absl-py==0.9.0
-e git+https://github.com/simdj/ActionCompletion.git@69e9fd54412e74da35ba63def9cca7e03b2d5819#egg=action_completion_prediction
cycler==0.10.0
decorator==4.4.2
easydict==1.9
ffmpeg==1.4
ffmpeg-python==0.2.0
future==0.18.2
h5py==2.10.0
imagecodecs==2020.2.18
imageio==2.8.0
kiwisolver==1.2.0
matplotlib==3.2.1
myproject==1.0
networkx==2.4
numpy==1.18.4
pandas==1.0.3
Pillow==7.1.2
protobuf==3.12.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
scikit-image==0.17.2
scikit-video==1.1.11
scipy==1.4.1
six==1.15.0
tabulate==0.8.7
tensorboardX==2.1
tifffile==2020.5.11
torch==1.2.0
torchvision==0.4.0
tqdm==4.46.0
